{% extends "base.html" %}

{% block content %}
    {% for video in videos %}
    <div class="snap-start video-container">
        <video controls>
            <source src="{{ url_for('static', filename='uploads/' + video.filename) }}" type="video/mp4">
            Your browser does not support the video tag.
        </video>
        <p class="mt-2 text-gray-700 absolute bottom-0 left-0 bg-black bg-opacity-50 text-white p-2">
            Duración: <span id="duration{{ loop.index }}">00:00</span> | 
            Fecha de carga: {{ video.upload_date }} | 
            ID del video: {{ video.id }}
        </p>
    </div>
    {% endfor %}
{% endblock %}


